[Unit]
Description=Apache Flink JobManager
After=network-online.target kafka.service
Wants=network-online.target

[Service]
Type=simple
User=flink
Group=flink
Environment=JAVA_HOME={{ java_home }}
Environment=PATH={{ java_path }}
Environment=FLINK_HOME={{ flink_install_dir }}
ExecStart={{ flink_install_dir }}/bin/jobmanager.sh start-foreground
Restart=on-failure
RestartSec=5
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
